<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Usuarios registrados')"></head>

<body>
<div th:replace="fragments :: navbar"></div>
<main class="container-fluid mt-3">
    <h2>Usuarios registrados</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Identificador</th>
            <th>Correo electrónico</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td>
                <a th:href="@{/registrados/{id}(id=${usuario.id})}" th:text="${usuario.id}"></a>
            </td>
            <td th:text="${usuario.email}"></td>
        </tr>
        </tbody>
    </table>
</main>

<div th:replace="fragments :: javascript"></div>
</body>
</html>